@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap");

* {
  font-family: "Roboto Slab", serif;
}

.t-col {
  color: #2a363b;
}

html {
  scroll-behavior: smooth;
}

.this {
  @apply font-bold cursor-pointer hover:opacity-75 transition-all bg-gradient px-10 py-2 text-white rounded-sm w-fit text-base;
}

.resize {
  @apply px-36;
}

.b-blue {
  background: #4f5aa8;
}

.t-blue {
  color: #4f5aa8;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
  background: linear-gradient(137deg, #e84a5f 0%, #4f5aa8 100%);
}
