@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap");

html {
  font-family: "Roboto Slab", serif;
  scroll-behavior: smooth;
}

.resize {
  @apply px-36;
}

.b-blue {
  background: #4f5aa8;
}

.t-blue {
  color: #4f5aa8;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
  background: linear-gradient(137deg, #e84a5f 0%, #4f5aa8 100%);
}
